body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  width: 400px;
  height: 400px;
  background-color: red;
}
@media (max-width: 960px){
  .box{
    display: none;
  }
}