body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  width: 400px;
  height: 400px;
  background-color: red;
}
@media (max-width: 959px){
  .box{
    width: 200px;
    height: 200px;
  }
}

.box2{
  width: 300px;
  height: 300px;
  background-color: red;
}

@media (max-width: 959px){
  .box2{
    background-color: blue;
  }
}

.box3{
  width: 300px;
  height: 300px;
  background-color: blue;
  float: left;
}
.box4 {
  width: 300px;
  height: 300px;
  background-color: #22ff00;
  float: left;
}
@media (max-width: 959px) {
  .box3 {
    background-color: blue;
    margin-right: 50px;
  }

  .box4 {
    background-color: #22ff00;
  }
}

@media (min-width: 960px) {
  .box3 {
    background-color: blue;
    margin-right: 150px;
  }

  .box4 {
    background-color: #22ff00;
  }
}

.box5{
  width: 300px;
  height: 300px;
  background-color: red;
  float: left;
}

.box6{
  width: 300px;
  height: 300px;
  background-color: blue;
  float: left;
}

@media (max-width: 959px) {
  .box5,
  .box6 {
    float: none;
  }
}

.Q5 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

.box7{
  width: 300px;
  height: 300px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box8{
  width: 300px;
  height: 300px;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box9{
  width: 300px;
  height: 300px;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%)
  translateX(-50%);
}

@media screen and (max-width: 959px) {
  .Q5 {
    flex-direction: row-reverse;
  }
}

.Q6{
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

.box10{
  width: 300px;
  height: 300px;
  background-color: #00ff51;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 1;
}

.box11{
  width: 300px;
  height: 300px;
  background-color: #d4ff00;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 2;
}

.box12{
  width: 300px;
  height: 300px;
  background-color:#ff00e1;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 3;
}

@media (max-width: 959px) {
  .box10{
    order: 2;
  }

  .box11{
    order: 3;
  }

  .box12{
    order: 1;
  }
}

.Q7{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.box13{
  width: 300px;
  height: 300px;
  background-color:red;
  display: block;
}

.box14{
  width: 300px;
  height: 300px;
  background-color:#00ff51;
}

.box15{
  width: 300px;
  height: 300px;
  background-color:#0008ff;
  display: none;
}

@media (max-width: 959px) {
  .box13{
    display: none; 
  }

  .box15{
    display: block;
  }
}